header{
    width: 100%;
    height: 100px;
    padding: 5px 70px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 7;
}
header nav{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .left{
    width: 40%;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 230px;
}
nav .right{
    width: 55%;
}
nav .right .icon{
    display: none;
}
nav .right ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav .right ul li>a{
    color: #333333;
    cursor: pointer;
}
nav .right ul li>a:hover{
    color: #CF292A;
}

@media (max-width:768px) {
    header{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    nav .left img {
        width: 200px;
    }
    nav .left{
        width: 85%;
    }
    nav .right{
        width: 15%;
    }
    nav .right ul{
        display: none;
    } 
    
    nav .right .icon{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
       }  
}