.hero-elem{
    width: 100%;
    height: 500px;
    background-image: url(../assets/Img/Fidelity-UK-Home.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hero-elem h2{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 25px;
}
.hero-elem h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 70px;
    gap: 15px;
}
.custom-shape-divider-bottom-1723648964 {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1723648964 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1723648964 .shape-fill {
    fill: #fff;
}
.star-f{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.star-f p{
    font-size: 19px;
    font-weight: 500;   
}
.star-f h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #696969;
}
.star{
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: black;
}

.star .htp-stars{
    width: 6.5%;
}
.htp-stars {
    margin-top: 5px;
}
.star .trustpilot{
    width: 6%;
    padding-top: 5px;
}
.cards{
    width: 100%;
    padding: 5px 70px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin-top: 5%;

}
@media (min-width: 640px) {
    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
 .cards .card{
    width: 390px;
    padding-top: 36px;
    padding-bottom: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

 }
 .card i{
    font-size: 60px;
    margin-bottom: 29px;
    color: #CF292A;
 }
 .card h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #696969;
 }
 .card p{
    width: 283px;
    font-size: 16px;
    font-weight: 100;
    color: #696969;
 }
 .card button{
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 31px;
    color: #CF292A;
    background-color: transparent;
 }
 .card button>i{
    font-size: 14px;
 }
 .c-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
 }
 .c-btn #btn-1{
    background-color: #CF292A;
    color: #fff;
    font-size: 14px;
    padding: 18px 46px;
    border-radius: 8px;
    border: none;
    outline: none;
 }
 .c-btn #btn-2{
    color: #CF292A;
    font-size: 14px;
    padding: 18px 46px;
    border-radius: 8px;
    border: 1px solid #ddd;
 }
.f-btns{
    width: 100%;
    background-color: #f8f8f8;
    padding: 8px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9%;
}
.f-btns .txt {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.f-btns .txt .h1-fr{
    color: #ababab;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 3px;
}
.f-btns .txt .h1-sd {
    color: #696969;
    font-weight: 700;
    font-size: 40px;
}
.tri-btn{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    gap: 20px;
}
.tri-btn>button{
    padding: 20px;
    width: 33.3%;
    border-radius: 8px;
    color: #696969;
    border: 1px solid #ddd;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;  
}
.tri-btn button:hover{
    border-color: #CF292A;
    color: #CF292A;
}

.carousal{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5% 0;
}
.carousal h1{
    color: #696969;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
.tm-button{
    
    color: #CF292A;
    font-size: 14px;
    padding: 18px 46px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-decoration: none;
    border: 1px solid #ddd;
}
.tm-button:hover{
    background-color: #CF292A;
    color: #fff;
}
.carousal2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}
.carousal2 h1{
    color: #696969;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
.carousal2 h4{
    color: #ababab;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.cont-c{
    width: 100%;
    height: 80vh;
    padding: 5px 70px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont-c .c-car{
    width: 80%;
    margin: 6% 0;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
    font-size: 15px;
    color: #CF292A;
    cursor: pointer;
}
.cont-c .cont-c-head{
    width: 33%;
    height: 100%;
    padding: 0 15px;
    line-height: 28px;
}
.cont-c-head .c-c-h-h{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.c-c-h-h .c-txt{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5% 0;
    color: #ababab;
}
.c-c-h-h .c-txt2{
    font-size: 44px;
    line-height: 1.1;
    font-weight: 700;
    color: #696969;
}
.c-car .c-ch5{
    font-weight: 600;
    display: inline-block;
    line-height: 1.4;
}
.c-ch5 a{
    text-decoration: none;
    color: #CF292A;
}
.cont-c-head .c-car2{
    width: 60%;
    margin: 6% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #CF292A;
    cursor: pointer;
    gap: 16px;
}
.c-car3{
    width: 65%;
    margin: 6% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #CF292A;
    cursor: pointer;
    gap: 16px;
}
.c-car4{
    width: 80%;
    margin: 6% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    color: #CF292A;
    cursor: pointer;
    gap: 16px;
}
.c-ccard{
    width: 30%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.c-car a>i{
    border: none;
    outline: none;
    text-decoration: none;
    color: #CF292A;
}
.c-car2 a>i{
    border: none;
    outline: none;
    text-decoration: none;
    color: #CF292A;
}
.c-car3 a>i{
    border: none;
    outline: none;
    text-decoration: none;
    color: #CF292A;
}
.c-car4 a>i{
    border-bottom: none;
    outline: none;
    text-decoration: none;
    color: #CF292A;
}
.c-ccard .c-img{
    width: 100%;
    padding: 12px 0;
}
.c-ccard .c-img img{
    border-radius: 8px;
}
.c-ccard .icon{
    font-size: 14px;
    color: #696969;
}
.c-ccard .link{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #696969;
    line-height: 1.5;
    margin-bottom: 0;
}
.c-ccard .link p{
    font-size: 15px;
    font-weight: 500;
    color: #696969;
    line-height: 1.5;

}
.c-ccard .link a{
    text-decoration: none;
    color: #696969;
}
.c-ccard .link a:hover{
    color: #CF292A;
}
.c-ccard button{
    margin: 9px 0;
    width: fit-content;
    text-align: start;
    color: #CF292A;
    border-bottom: 1px solid #696969;
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 5px 70px;
}
.contact .contwrap .conttxt{
    font-size: 34px;
    font-weight: 700;
    color: #696969;
    padding: 10px 0;
}
.contact .contwrap{
    width: 50%;
    height: 100%;
    padding: 0 10px;
}
.contact .contwrap .contp{
    font-size: 16px;
    font-weight: 100;
    color: #696969;
    line-height: 1.74;
    margin-bottom: 0;
    padding: 10px 0;
}
.contact .cont-img{
    width: 44%;
    height: 100%;
}
.contact .cont-img img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.contact .form-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-wrap .same{
    width: 47%;
    margin: 10px 8px;
    padding: 10px;
    font-size: 13px;
    border-radius: 12px;
    border: 1px solid #ababab;
}
form>textarea{
    width: 97%;
    margin: 10px 8px;
    padding: 10px;
    font-size: 13px;
    border-radius: 12px;
    border: 1px solid #ababab; 
}
.formch{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    gap: 16px;
}
.formch button{
    width: fit-content;
    border-radius: 8px;
    padding: 11px 25px;
    color: #fff;
    font-size: 16px;
    background-color: #CF292A;
    border: none;
    outline: none;

}

@media screen and (max-width: 768px) {
    .hero-elem h2{
        font-size: 16px;
        padding: 6px;
        margin-bottom: 15px;
    }
    .hero-elem h1{
        font-size: 45px;
        line-height: 35px;
        margin-bottom: 33%;
    }
    .custom-shape-divider-bottom-1723648964 {
        bottom: 33%;
    }
    
    .custom-shape-divider-bottom-1723648964 svg {
        height: 120px;
    }
    .star-f{
       text-align: center;
    }
    .star-f h1{
        font-size: 29px;
        
    }
    .trustpilot .t-svg{
        width: 75px;
     }
     .star .htp-stars {
        width: 23.5%;
    }
    .star{
        margin-right: 13%;
        margin-bottom: 4%;
    }
    .cards{
        place-items: center;
    }
    .f-btns{
        padding: 10px;
    }
    .card p{
        width: auto;
    }
    .f-btns .txt .h1-sd {
        font-size: 28px;
    }
    .f-btns .txt .h1-fr{
        font-size: 14px;
    }

    .tri-btn{
        flex-direction: column;
    }
    .tri-btn>button{
      width: 100%;
      text-align: justify;
      font-size: 15px;
    }
    .cont-c{
        display: none;
    }
    .contact{
        flex-direction: column;
        padding: 5px 20px;
    }
    .contact .contwrap{
        display: none;
    }
    .contact .cont-img{
        width: 100%;
        height: 90%;
    }
    .carousal h1{
        text-align: center;
        font-size: 38px;
        margin-top: 10%;
    }
    .carousal2{
       display: none;
}
}